@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Nunito:wght@300&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}


/* progress steps */

.StepProgress {
  position: relative;
  padding-left: 45px;
  list-style: none;

  &::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
    border-left: 2px solid #CCC;
  }

  &-item {
    position: relative;
    counter-increment: list;

    &:not(:last-child) {
      padding-bottom: 20px;
    }

    &::before {
      display: inline-block;
      content: '';
      position: absolute;
      left: -30px;
      height: 100%;
      width: 10px;
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: -37px;
      width: 12px;
      height: 12px;
      border: 2px solid #CCC;
      border-radius: 50%;
      background-color: #FFF;
    }

    &.is-done {
      &::before {
        border-left: 2px solid #1c87c9;
      }

      &::after {
        content: "";
        font-size: 20px;
        color: #FFF;
        text-align: center;
        border: 8px solid #1c87c9;
        background-color: #1c87c9;
      }
    }

    &.current {
      &::before {
        border-left: 2px solid #1c87c9;
      }

      &::after {
        // content: counter(list);
        padding-top: 1px;
        width: 18px;
        height: 18px;
        top: -4px;
        left: -38px;
        font-size: 14px;
        text-align: center;
        color: green;
        border: 2px solid #1c87c9;
        background-color: white;
      }
    }
  }

  strong {
    display: block;
  }
}

* html body * {
  background-color: rgba(54, 54, 54, 0.41);
}

.cropped-image {
  width: 540px !important;
  height: 400px !important;
  object-fit: cover !important;
}

.accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  color: black !important;
}

.card-1 {
  background-color: rgb(75, 74, 74);
  color: white;
  border-radius: 5px;
}

.card-2 {
  background-color: #1c87c9b7;
  color: white;
  border-radius: 5px;
}

.card-1:hover {
  background-color: white;
  color: black;
}

.card-2:hover {
  background-color: white;
  color: black;
}

.no-shadow {
  box-shadow: none !important;
}

.lgModal {
  width: 90% !important;
}

.vertical-rule {
  border-left: 2px solid #ccc;
  /* or border-right for right-side rule */
  height: 50px;
  /* change to adjust the height of the rule */
  margin-left: 10px;
  margin-right: 10px;
}

.mleft-4 {
  margin-left: 20px;
}

.mright-4 {
  margin-right: 20px;
}

.mt-neg {
  margin-top: -20px;
}

.mt-neg-profile {
  margin-top: -4rem !important;
}

.mt-neg-50 {
  margin-top: -100px !important;
}

.blue {
  color: #1c87c9;
}

.bg-blue {
  background-color: #1c87c9 !important;
}

.gray-text {
  font-size: large;
  color: gray;
}

.bg-gray {
  background-color: rgba(128, 128, 128, 0.116);
}

.gray-text:hover {
  color: black;
  font-weight: bolder;
}

.x-large-btn {
  width: 350px !important;
}

// @media only screen and (max-width: 550px) {
//   .x-large-btn {
//     width: 210px !important;
//   }
// }

// @media only screen and (max-width: 1200px) {
//   .x-large-btn {
//     width: 350px !important;
//   }
// }

.underline:hover {
  text-decoration: underline !important;
}

.icon-danger:hover {
  background-color: rgb(199, 2, 2) !important;
  color: white !important;
  border-radius: 50%;
}

.icon-primary:hover {
  background-color: rgb(0, 85, 211) !important;
  color: white !important;
  border-radius: 50%;
}

.bg-profile {
  background-image: url('https://wallpaperbat.com/img/137073-programming-hd-wallpaper-for-desktop-programacao.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-block: 100px;
}



.sm-container {
  width: 50% !important;
}

@media only screen and (max-width: 800px) {
  .sm-container {
    width: auto !important;
  }
}
