<div style="padding-right: 300px;">
  <h2 class="headings display-2"><%= article?.title %></h2>
  <p><mark><%= article?.date.toDateString() %></mark></p>
  <p class=""><%= article?.description %></p>
</div>
