<div class="form-row">
  <div class="col-md-4 mb-3">
    <label for="validationServer01" >Title</label>
    <input type="text" class="form-control" name="title" placeholder="Write title for article" value="<%= article?.title %>"
      required>
  </div>
  <div class="col-md-4 mb-3">
    <label for="validationServer02">Description</label>
    <textarea style="height: 300px;" class="form-control" name="description" aria-label="With textarea" placeholder="Write description of your article here.."><%= article.description %></textarea>
  </div>
</div>





